*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background-color:whitesmoke;
    margin: 0;

   
}


.header{
    margin: 0;
    width: 100%;
    position:sticky;
    top:0;
    z-index: 999;
   
    
}

.hed-container{
    display: flex;
    justify-content: space-evenly;
    background-image: url(/static/img/barbell.jpg);
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 9vh;
    flex-wrap: nowrap;
    align-items: center;
    border: 2px solid green;
    
}

.hed-content-one{
    display: inline-block;
    
 

}

.dropdown{
    margin-left:55px ;
    font-size: 24px;
    text-decoration: none;
    color:antiquewhite;
    
}

.hed-content-one p{
    width: 100%;
    height: 6vh;
    font-size: 33px;
    margin-right: 22px;
    margin-bottom: 18px;
    font-weight: bold;
    color: transparent;
    background:linear-gradient(43deg,#4158D0,#C850C0,#FFCC70);
    background-clip: text;
    
   
    

}

.hed-content-one p sub{
    color: transparent;
    background:linear-gradient(90deg,#00DBDE,#FC00FF);
    background-clip: text;
}

/* .ttwo{
    display: flex;
    flex-direction:column ;
} */
.fluid-item{
    margin-left:55px ;
    font-size: 24px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}

#menu-bt{
    display:none;
}

/* .modal-dialog{
    width: 280px;
    margin-left: 45px;
} */
@media screen and (max-width:800px) {
    .hed-container{
        height: 7vh;
        
        
    }
    .hed-content-two{
        display: none;
    }

    #menu-bt{
        display:block;
    }

    /* .modal-dialog{
        width: 40px;
        margin-left:10px;
    } */

    .menu-content{
        display: grid;
        justify-content: center;
    }

    .menu-item{
        text-decoration: none;
        color: black;
        font-size: x-large;
    }

    .hed-content-one p{
        font-size: 22px;
        margin-top: 17px;
    }
    

    .fluid-item{
        font-size: 15px;
        margin-left: 6px;
        
        
    }

    
}

.fluid-item:hover{
    opacity: 0.8;
}






.footer{
    margin: 0;
    height: 40vh;

}

.footer-container{
    display: flex;
    justify-content: space-evenly;
    max-width:60%;
    margin: auto;
    margin-top: 40px;
}
.footer-content{
    margin-top:30px;
    color: white;
}
.footer-content ul{
    list-style: none;


}

.footer-content ul li{
    margin-bottom: 10px;
    line-height: 1.2;
    margin-left:-20px;
    
}

.social-meadia{
    margin-top: 30px;
}

.social-meadia h1{
    color: white;
}

.fa{
    text-decoration: none;
    margin-right: 10px;
    font-size: 38px;
    background-color:white ;
    color:black;
    border-radius: 50%;
    text-align: center;
    padding-top:6px;
    width: 40px;
    height: 38px;
    
    
    

}

/* .fa:hover{
    background-color: white;
    color: black;
} */
 
a.fa.fa-facebook{
    font-size: 28px; 

}
a.fa.fa-instagram{
    font-size: 28px;
    
}
a.fa.fa-linkedin{
    font-size: 25px;
}
a.fa.fa-google{
    font-size: 28px;
} 



