.ind-fluid{
    width: 100%;
}

.ind-container{
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color:rgba(40,60,117);
    height: 10vh;
    width: 100%;

}

.ind-container h1{
    font-size: 29px;
    font-weight: 400;
    color: rgb(86, 108, 108);
    
}

.ser{
    width: 500px;
    height: 37px;
    border: 2px solid black;
    padding-left: 17px;
    padding-right: 5px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 2px 3px 2px black;
}

.ser input{
    width:450px;
    border-radius: 25px;
    height: 100%;
    width: 95%;
    border: none;
    background: none;
    outline: none;
    padding-bottom: 4px;
    

}
button{
    position: absolute;
    background: none;
    border-radius: 50px;
    border: none;
    padding-bottom: 3px;
    
}
button.fa.fa-search{
    height: 70%;
}




@media screen and (max-width:550px){
    .ind-container{
        height: 9vh;
    }
    .ind-container h1{
        font-size:15px;
    }
    .ser{
        width: 250px;
        height: 30px;
     
        
    }
    .ser input{
        width: 200px;
        
    }

    
    
}










.second-container{
    display: flex;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
    margin-top: 25px;
    padding-left: 20px;


}

.content{
    font-size:40px;
    font-weight:400px;
    width:800px;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 500;
    
    

}

.heading{
    display:flex;
    background-color: rgb(249, 13, 13);
    color: white;
    border: 2px solid black;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    width: 42vw;
    height: 15vh;
    margin: auto;
    margin-top: 45px;
    box-shadow: 0 4px 8px 0 green;
}

.heading-content{
    display: flex;
   
}

.heading-content h1{
    
    font-weight: bold;
}

@media screen and (max-width:800px) {
    .heading{
        width: 80vw;
        height: 10vh;
        
    } 
    
}





.cards-container{
    height: 500px;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    overflow-y: hidden;
    float: left;
    margin-top: 115px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.headingss{
    display: flex;
    color: black;
    border-radius: 8px;
}

.headingss h2{
    background-color: thistle;
    border: 1px solid tan;

}




.cards{
    display: inline-block;
    overflow: hidden;
    height: 100%;
    margin-top: 22px;
    margin-right: 31px;
    margin-left: 12px;
}



.cards img{
    height: 50%;
    background-size: cover;
    width: 260px;
}

.cards img:hover{
    height: 52%;
    width: 262px;
}

.cards-con{
    position: relative;
    top: 3px;
    left: 45px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.cards-con button{
    border: 1 px solid black;
    background-color: black;
    color: white;
    border-radius: 6px;
    padding: 5px;
    cursor: pointer;
}
