
body{
    background-color:gainsboro;
    margin: 0;
    /* width: 100%; 
    height: 100vh;   */
}

.packagedetail{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
}

.package-content{
    width: 75%;
    text-align: center;
    border: 2px solid black;
    background-color: black;
    color: white;
}

.logo pre{
    font-size: 53px;
    margin-top: 12px;
    margin-bottom: 25px;
    font-weight: bolder;
    color: transparent;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    background-clip: text;
}

.package-content p{
    font-size: large;
    
}





.membership-text{
    color: rgb(126, 126, 180);
}






.estimate-contant{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 45px;
}

.estimate-contant img{
    height: 450px;
    width: 950px;
}

@media screen and (max-width:800px) {
    .estimate-contant img{
        height: 40vh;
        width:80%;
    }
    .fitness-club img{
        width: 300px;
    }

}



.membership-text h4{
    margin:35px 8px 35px 15px;
    font-family: Arial;
    
}







.membar-form{
    display: flex;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    width: 80%;
    margin: auto;
}

 


form{
    position: relative;
    background-color: whitesmoke;
    /* background:linear-gradient(90deg,#00DBDE,#FC00FF); */
    height:628px;
    width: 549px;
    overflow: hidden;
    margin-top: 39px;
    border-radius: 7%;
}


.form-container{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: auto;
    margin-top: 7px;
}

.pack{
    display: flex;
    justify-content: center;
    color: white;
    border: 2px solid black;
    height: 60px;
    background-color: black;
    font-family: sans-serif;
    margin: auto;
    padding: 8px;
    font-weight: 550;
}

.form-content label{
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
    color: black;
    font-size: x-large;
}






.form-content input{
    height: 33px;
    width: 70%;
    border: 2px solid rgb(89, 86, 86);
    border-radius: 25px;
    background-color: gray;
    opacity: 0.6;
    padding-left: 15px;
    color: aliceblue;
    font-size: 20px;

}





.form-content-redio{
    margin-top: 15px;
    color: black;
}
.form-content-redio input{
    width: 20px;
}

.botton{
    font-family: sans-serif;
    width:350px;
    border-radius: 15px;
    margin-left: 35px;
    margin-top: 20px;
    height: 33px;
    font-size: 20px;
    margin-bottom: 13px;
    color: black;
    background-color: whitesmoke;
    font-weight: 500;
}




.form-content-btn{
    margin: auto;
    width:70%;
    
    
}
.form-content-btn button{
    background-color: rgb(5, 109, 213);
    color: white; 
    border-radius: 25px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;

}



.logg{
    /* width: 100px;
    height: 50px;
    background-color:#007FFF;
    margin-left: 12px;
    padding: 5px; */
    display: flex;
    justify-content: center;
}


.loggoutt{
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    background-color: blueviolet;
    width: 33%;
    cursor: pointer;
    color:white;

}