body{
    background-color:gainsboro;
}



.about-head{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    
 

}

.about-content{
    width: 53%;
    font-family: "Manrope", Sans-serif;
    font-size: 55px;
    font-weight: 700;
    line-height: 68.75px;
    color: var(--e-global-color-e3ae94a);
}


.update-content{
    display: flex;
    justify-content: center;
    margin-top: 8px;
    
}
.update-content pre{
    font-size: 20px;
    margin-right: 100px;
    font-family: "Manrope", Sans-serif;
}

.cover-content{
    display: flex;
    justify-content: center;
    margin-top: 8px;
  
    
    
}
.cover-content img{
    border: 2px solid white;
    border-radius: 25px;
}
.defination{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: white;
    position: relative;
    z-index: 2;
    margin-top: -45px;



}
.deination-content{
    margin: auto;
    margin-top: 20px;
    width: 65%;
    font-size: 25px;
    font-family: "Manrope", Sans-serif;
    color:black;
    text-align: justify;
    line-height: initial;
  
}
.morquee{
    display: inline;
    margin: auto;
    width: 65%;
    margin-bottom: 8px;
    color: aliceblue;
    font-size: 35px;
    font-weight: bolder;
}

.morquee span{
    background-color: black;
    border: 2px solid black;
    padding: 8px;

}

.d-tag{
    font-size: 22px;
    font-family: "Manrope", Sans-serif;
    color:rgb(95, 91, 91);
    width: 900px;

  

}

.Cardio{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.cardio-tag{
    font-size: 55px;
    margin-bottom: 8px;
    font-family: "Manrope", Sans-serif;
    color: var(--e-global-color-e3ae94a);
    font-weight: bold;
}

.cardio-img{
    margin-bottom: 22px;
    width: 300px;
}

.cardio-content{
    font-size: 22px;
    font-family: "Manrope", Sans-serif;
    color:rgb(129, 125, 125);
    width: 700px;
  

}












/* .our-cards{
    width: 55vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} */




/* 



.footer{
    margin: 0;
    height: 40vh;

}

.footer-container{
    display: flex;
    justify-content: space-evenly;
    max-width:60%;
    margin: auto;
    margin-top: 40px;
}
.footer-content{
    margin-top:30px;
    color: white;
}
.footer-content ul{
    list-style: none;


}

.footer-content ul li{
    margin-bottom: 10px;
    line-height: 1.2;
    margin-left:-20px;
    
}

.social-meadia{
    margin-top: 30px;
}

.social-meadia h1{
    color: white;
}

.fa{
    text-decoration: none;
    margin-right: 10px;
    font-size: 38px;
    background-color:white ;
    color:black;
    border-radius: 50%;
    text-align: center;
    padding-top:6px;
    width: 40px;
    height: 38px;
    
    
    

}

.fa:hover{
    background-color: black;
    color: white;
}
 
a.fa.fa-facebook{
    font-size: 28px; 

}
a.fa.fa-instagram{
    font-size: 28px;
    
}
a.fa.fa-linkedin{
    font-size: 25px;
}
a.fa.fa-google{
    font-size: 28px;
}  */


/* 
@media screen and (max-width:800px) {
    
    

} */