{% extends "base.html" %}

{% block title %}Forget Password{% endblock title %}

{% block body %}

<link rel="stylesheet" href="/static/css/loginus.css">


<div class="form-contain">
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-logo">
            <p>Forget Password</p>
        </div>
        <div class="lohgin">
            <label for="username">UserName</label>
            <input type="text" class="user-login" name="username" required>

            <label for="gmail">Gmail</label>
            <input type="gmail" class="inputuser" name="gmail" required>

            <button type="submit" class="submit-user">Submit</button>
            <a href="/signpage" class="account"><p>Don't have an account? <u>Sign Up</u></p></a>
        
        </div>
    </form>
    
</div>

{% endblock body %}
