{% extends "base.html" %}

{% block title %}HOME{% endblock title %}

{% block body %}
<link rel="stylesheet" href="/static/css/inddd.css">
<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="ind-fluid">
    <div class="ind-container">
        <h1>Equipments S...</h1>

        <div class="ser">
            <input type="text" placeholder="Search...">
            <button type="submit"><i class="fa fa-search"
                    aria-hidden="true"></i></button>
        </div>
    </div>
</div>

<div class="second-container"
    style="background: linear-gradient(144deg, #000000 35%, #000096 85%);">
    <div class="content">
        <h2>For Being a Memebar of Our Fitness Club Gym Take a Membar Ship
            .You can get a Membar Ship Through Membarship Page .Just Creat Your
            Account and Choose a Packege Which Suitable For You
            <br>
            <br>
        </h2>
    </div>
</div>

<div class="heading">
    <div class="heading-content">
        <h1>For Weekly Exercise</h1>
    </div>
</div>

<div class="cards-container">
    <div class="headingss">
        <h2>Chest Exercise</h2>
    </div>
    <hr>

    <div class="cards">
        <a href><img src="/static/img/chest/butterfly.jpg"></a>
        <div class="cards-con">
            <p>Butterfly</p>
            <p>₹4500</p>
            <button>Add To Card</button>
        </div>
    </div>

    <div class="cards">
        <img src="/static/img/chest/flat-bench.webp">
        <div class="cards-con">
            <p>Flat Bench Prees</p>
            <p>₹4500</p>
            <button>Add To Card</button>
        </div>
    </div>

    <div class="cards">
        <img src="/static/img/chest/chin-dips.webp">
        <div class="cards-con">
            <p>Chin Dips</p>
            <p>₹5500 </p>
            <button>Add To Card</button>
        </div>
    </div>

    <div class="cards">
        <img src="/static/img/chest/Commercial-Adjustable-Bench.webp">
        <div class="cards-con">
            <p>Adjustable Bench </p>
            <p>₹6500</p>
            <button>Add To Card</button>
        </div>
    </div>

    <div class="cards">
        <img src="/static/img/chest/declin-bp.jpg">
        <div class="cards-con">
            <p>Declin Bench Press</p>
            <p>₹9800</p>
            <button>Add To Card</button>
        </div>
    </div>

    <div class="cards">
        <img src="/static/img/chest/essential-workout-bench-3.webp">
        <div class="cards-con">
            <p>Essential Workout Bench</p>
            <p>₹6500</p>
            <button>Add To Card</button>
        </div>
    </div>

</div>

<div class="cards-container">
    <div class="headingss">
        <h2>Bicep Exercise</h2>
    </div>
    <hr>

    <div class="cards">
        <img src="/static/img/bicep-img/bicep-curl.webp">
        <div class="cards-con">
            <p>bicep Curl Machine</p>
            <p>₹8500</p>
            <button>Add To Card</button>
        </div>
    </div>

    <div class="cards">
        <img src="/static/img/bicep-img/bicep-preacher-curl.webp">
        <div class="cards-con">
            <p>Bicep-Preacher-Curl</p>
            <p>₹5499</p>
            <button>Add To Card</button>
        </div>
    </div>

    <div class="cards">
        <img src="/static/img/bicep-img/bicep-t.webp">
        <div class="cards-con">
            <p>Bicep-Tricep Machine</p>
            <p>₹9600</p>
            <button>Add To Card</button>
        </div>
    </div>

    <div class="cards">
        <img src="/static/img/bicep-img/hammer.webp">
        <div class="cards-con">
            <p>Hammer Machine </p>
            <p>₹7400</p>
            <button>Add To Card</button>
        </div>
    </div>

    <div class="cards">
        <img src="/static/img/bicep-img/mild-steel-bicep-curl.webp">
        <div class="cards-con">
            <p>Mild Steel Bicep Curl</p>
            <p>₹8500</p>
            <button>Add To Card</button>
        </div>
    </div>

    <div class="cards">
        <img src="/static/img/bicep-img/preacher-curl.webp">
        <div class="cards-con">
            <p>Preacher Curl Machine</p>
            <p>₹3500</p>
            <button>Add To Card</button>
        </div>
    </div>

</div>

<div class="cards-container">
    <div class="headingss">
        <h2>Shoulder Exercise</h2>
    </div>
    <hr>

    <div class="cards">
        <img src="/static/img/shoulder/adjustable-s-m.jpg">
        <div class="cards-con">
            <p>Adjustable Shoulder Machine</p>
            <p>₹5500</p>
            <button>Add To Card</button>
        </div>
    </div>

    <div class="cards">
        <img src="/static/img/shoulder/Elite-ISO-Shoulder-Press.webp">
        <div class="cards-con">
            <p>Elite-ISO-Shoulder-Press</p>
            <p>₹6999</p>
            <button>Add To Card</button>
        </div>
    </div>

    <div class="cards">
        <img src="/static/img/shoulder/Lat-Pull.webp">
        <div class="cards-con">
            <p>Lat Pulldown </p>
            <p>₹7999</p>
            <button>Add To Card</button>
        </div>
    </div>

    <div class="cards">
        <img src="/static/img/shoulder/dumbbel25.webp">
        <div class="cards-con">
            <p>Dumbbel Press</p>
            <p>₹4780</p>
            <button>Add To Card</button>
        </div>
    </div>

    <div class="cards">
        <img src="/static/img/shoulder/shoulder-p.jpg">
        <div class="cards-con">
            <p>Shoulder Press</p>
            <p>₹4500</p>
            <button>Add To Card</button>
        </div>
    </div>

    <div class="cards">
        <img src="/static/img/shoulder/standing-Lat-Raise.webp">
        <div class="cards-con">
            <p>Standing-Lat-Raise</p>
            <p>₹5100</p>
            <button>Add To Card</button>
        </div>
    </div>

</div>

<div class="cards-container">
    <div class="headingss">
        <h2>Back &Lowerbody Exercise</h2>
    </div>
    <hr>

    <div class="cards">
        <img src="/static/img/lower-body/back-extension.jpg">
        <div class="cards-con">
            <p>Back-Extension</p>
            <p>₹5600</p>
            <button>Add To Card</button>
        </div>
    </div>

    <div class="cards">
        <img src="/static/img/lower-body/bike-classic.jpg">
        <div class="cards-con">
            <p>Bike Classic</p>
            <p>₹4500</p>
            <button>Add To Card</button>
        </div>
    </div>

    <div class="cards">
        <img src="/static/img/lower-body/bodycraft-.jpg">
        <div class="cards-con">
            <p>Body Craft </p>
            <p>₹7500</p>
            <button>Add To Card</button>
        </div>
    </div>

    <div class="cards">
        <img src="/static/img/lower-body/hyper-extension.jpg">
        <div class="cards-con">
            <p>Hyper-Extension</p>
            <p>₹6900</p>
            <button>Add To Card</button>
        </div>
    </div>

    <div class="cards">
        <img src="/static/img/lower-body/legpress.jpg">
        <div class="cards-con">
            <p>Leg Press</p>
            <p>₹7800</p>
            <button>Add To Card</button>
        </div>
    </div>

    <div class="cards">
        <img src="/static/img/lower-body/Open_Hex_Bar.jpg">
        <div class="cards-con">
            <p>Open_Hex_Bar</p>
            <p>₹4800</p>
            <button>Add To Card</button>
        </div>
    </div>

</div>
<br>


<!-- <h1> kya paresani hain</h1> -->
{% endblock body %}