{% extends "base.html" %}

{% block title %}OUR GYM{% endblock title %}

{% block body %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/ourgym.css">



<div class="gym-pic">
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/img/ourgym/slider3.avif" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/img/ourgym/slider2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="/static/img/ourgym/slider1.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>


<div class="f-club">
    <div class="fitness-logo">
        <img src="/static/img/fitness-logo.png">
    </div>
</div>



<div class="thoughts">
    <div class="tho-content">
        <span>
            <h1>Description</h1>
            The starting point of a fitness journey is difficult and scary. If you're at this point, ready to make some serious lifestyle changes, one visit to your local gym can freeze your intentions of working out in the gym.
            <br>
            We understand what you might be going through.
            <br>
            Understanding your gym equipment and putting together an exercise regime can be a daunting process. Therefore, we've compiled a quick exercise equipment guide that will free you from the unknown so you can develop an informed workout regimen and expand your fitness horizons.
            <br>
            List of Gym Equipments & Tips on Using these Gym Equipments
            <br>
            Most of the equipment mentioned in this section is found in gyms, but it can be bought for a home gym as well
            <br>
            </span>
    </div>
</div>
<hr>
{% endblock body %}
