{% extends "base.html" %}

{% block title %}OUR GYM{% endblock title %}

{% block body %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/ourgym.css">
<div class="thoughts">
    <div class="tho-content">
        <span>
            <h1>Description</h1>
            The starting point of a fitness journey is difficult and scary. If you're at this point, ready to make some serious lifestyle changes, one visit to your local gym can freeze your intentions of working out in the gym.
            <br>
            We understand what you might be going through.
            <br>
            Understanding your gym equipment and putting together an exercise regime can be a daunting process. Therefore, we've compiled a quick exercise equipment guide that will free you from the unknown so you can develop an informed workout regimen and expand your fitness horizons.
            <br>
            List of Gym Equipments & Tips on Using these Gym Equipments
            <br>
            Most of the equipment mentioned in this section is found in gyms, but it can be bought for a home gym as well
            <br>
            </span>
    </div>
</div>
<hr>




<div class="f-club">
    <div class="fitness-logo">
        <img src="/static/img/fitness-logo.png">
    </div>
</div>



<div class="cards">
    <div class="cards-container">
        <div class="cards-content">
            <img src="/static/img/ourgym/img1.webp" class="imgs "height="240px" width="350px" my-0>
            <img src="/static/img/ourgym/img2.jpg" class="imgs" height="240px" width="350px" my-0>
            <img src="/static/img/ourgym/img3.jpg" class="imgs "height="240px" width="350px" my-0>
        </div>
        <div class="cards-content">
            <img src="/static/img/ourgym/img4.jpg" class="imgs"height="240px" width="350px" my-0>
            <img src="/static/img/ourgym/img5.jpg" class="imgs"height="240px" width="350px" my-0>
            <img src="/static/img/ourgym/img6.jpg" class="imgs"height="240px" width="350px" my-0>
        </div>
    </div>
</div>


<div class="visit-text"><h1>WAKE UP AND WORK OUT GROW<br>
    THROUGH WHAT YOU GO THROUGH..<br>
    VISIT OUR FITNESS CLUB</h1>
</div>








<footer class="footer" style="background: linear-gradient(144deg, #000000 35%, #000096 85%);">
    <div class="footer-container">
        <div class="footer-content">
            <h1>Contact Us</h1>
            <ul>
                <li>Bhopal , Madhya Pradesh</li>
                <li>283/1 Vip Road</li>
                <li>Near raja bhoj restaurent</li>
                <li>91+ 84864898449</li>
            </ul>
        </div>

        <div class="social-meadia">
            <h1>Follow Us</h1>
            <a href="" class="fa fa-facebook"></a>
            <a href="" class="fa fa-instagram"></a>
            <a href="" class="fa fa-linkedin"></a>
            <a href="" class="fa fa-google"></a>
        </div>


    </div>
</footer>
{% endblock body %}
